<table>
    <thead>
        <tr>
            <th colspan="2"><h2>"<%=@cat.name %>"</h2></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cat For Rent</td>
          <td></td>
            
        </tr>
      <tr>
            <td>Birth Date</td>
            <td><%=@cat.birth_date%></td>
        </tr>
      <tr>
            <td>Description</td>
        <td><%=@cat.description %></td>
            
        </tr>
      <tr>
            <td>Color</td>
        <td><%=@cat.color %></td>
            
        </tr>
      <tr>
            <td>Sex</td>
        <td><%=@cat.sex %></td>
            
        </tr>
    </tbody>
</table>

<a href="./">Back to cats index</a>